.container{
  height:100vh;
  }
  
  .sidenav{
  width:250px;
  padding:15px;
  background:#fafafa;
  }
  
  .menu-title{
  text-align:center;
  margin-bottom:0px;
  }
  
  .submenu{
  display:flex;
  flex-direction:column;
  margin-left:10px;
  margin-bottom:25px;
  width:100%;
  }
  
  .submenu button{
  text-align:left;
  }

  .sidenav button{
    margin-bottom:10px;
    width:100%;
    }
  .content{
  padding:20px;
  }